.container {
    padding: 1rem;
    background-color: #002D330D;
    color: #202020;
    width: 36.5rem;
    min-height: 20rem;
    border-radius: 0.75rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 1rem;
}

.title {
    color: #003C44;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0%;
}

.time {
    color: #212529;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1rem;
}

.contentSection {
    padding-top: 1rem;
}