.header {
    display: flex;
    justify-content: space-between;
    border-radius: 0.75rem 0.75rem 0 0;
    height: 2.5rem;
    align-items: center;
}

.leftHeader {
    display: flex;
    align-items: center;
    width: 50%;
}

.rightHeader {
    display: flex;
    align-items: center;
    width: 20%;
}