/* app/login/login.module.css */

.iconContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.iconWrapper {
    position: relative;
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
}

.logoContainer {
    position: absolute;
    top: 10px;
    left: 12%;
    transform: translateX(-50%);
    z-index: 2;
}

.customButton {
    background-color: #163B42;
    border-color: #163B42;
    color: white;
    width: 40%;
    margin-top: 30px; /* Adjust the top margin as needed */
}

.customButton:hover {
    background-color: #0E2B2E;
    border-color: #0E2B2E;
}

.rotatedDivRight {
    position: absolute;
    bottom: -290px;
    right: -185px;
    width: 795px;
    height: 802px;
    background-color: #CCD8DA;
    border-radius: 337px;
    transform: rotate(149deg);
    overflow: hidden;
}

.rotatedDivLeft {
    position: absolute;
    top: -140px;
    left: -73px;
    width: 409px;
    height: 420px;
    background-color: #003C44;
    border-radius: 200px;
    transform: rotate(20deg);
    overflow: hidden;
}

.loginCardContent {
    margin: 30px 20px;
}

.inputError {
    border: 1px solid #ce0f2e;
}
